@charset "utf-8";

.title {
  height: 310px;
  background-image: url("../../image/app/caae0001/whiteroom.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-shadow: 1px 1px 10px #4b2c14;
}

.title h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.title p {
  font-size: 14px;
  margin-top: 15px;
}

.feature {
  display: flex;
  justify-content: space-between;
  width: 930px;
  max-width: 90%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
}

.feature img {
  width: 360px;
}

.feature-text {
  max-width: 500px;
  margin-right: 40px;
}

.reverse {
  flex-direction: row-reverse;
}

.reverse .feature-text {
  margin-left: 40px;
  margin-right: 0;
}

.feature-text h2 {
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
}

.feature-text h2::after {
  content: '';
  display: block;
  width: 36px;
  height: 3px;
  background-color: #000000;
  margin-top: 20px;
}

.feature-text p {
  font-size: 15px;
  line-height: 28px;
  margin-top: 25px;
}

.inquiry {
  width: 930px;
  max-width: 90%;
  padding: 50px 60px;
  margin-left: auto;
  margin-right: auto;
}

.inquiry h2 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.inquiry h2::after {
  content: '';
  display: block;
  width: 36px;
  height: 3px;
  background-color: #000000;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.inquiry p {
  font-size: 15px;
  line-height: 28px;
  margin-top: 20px;
}

@media (max-width: 800px) {
  .feature {
    display: block;
    width: 500px;
    margin-top: 45px;
  }

  .feature-text {
    margin-right: 0;
  }

  .reverse .feature-text {
    margin-left: 0;
  }

  .feature img {
    width: 100%;
    height: auto;
    margin-top: 25px;
  }

  .inquiry {
    width: 500px;
    padding: 30px 25px;
  }
}
  .blue-link {
    color: #007bff; /* 好きな青に変更OK */
  }

  main {
        background-image: url("../../image/app/caae0001/marble.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
  }
  .half {
    opacity: 0.2;
  }
	.form-area {
	  border: 1px solid #aaaaaa;
	  margin-top: 25px;
	  padding: 30px;
	  display: block;
	  flex-wrap: wrap;
	}

	.form-area dt {
	  width: 200px;
	  padding: 15px 0;
	  font-size: 15px;
	  font-weight: bold;
	  line-height: 24px;
	}

	.form-area dd {
	  width: calc(100% - 200px);
	  padding: 15px 0;
	}

  .submit-button {
	/**
    background-color: #f4dd64;
	*/
	background-image: url("../../image/app/caae0001/marble.jpg");
    display: inline-block;
    min-width: 180px;
    line-height: 48px;
    border-radius: 24px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    border: none;
  }
  .submit-button:hover {
    background-color: #d8b500;
  }